@model ProductInsertVM

@{
    ViewBag.Title = "Product | Insert";
}

<form method="post" class="form" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly"></div>

    <label asp-for="Name"></label>
    <input asp-for="Name" data-upper autofocus>
    <span asp-validation-for="Name"></span>

    <label asp-for="SellPrice"></label>
    <input asp-for="SellPrice" type="number">
    <span asp-validation-for="SellPrice"></span>

    <label asp-for ="PhotoURL">Photo URL</label>
    <label class="upload">
        <input asp-for="PhotoURL" accept="image/jpeg,image/png" hidden>
        <img src="/images/photo.jpg">
    </label>
    <span asp-validation-for="PhotoURL"></span>

    <label asp-for="Category"></label>
    <select asp-for="Category" asp-items="ViewBag.ProductList">
        <option value="">- Select One -</option>
    </select>
    <span asp-validation-for="Category"></span>

    <section>
        <button>Submit</button>
        <button type="reset">Reset</button>
    </section>
</form>
