@model UpdatePasswordVM
<h2>Set New Password</h2>
<form method="post">
    <input type="hidden" asp-for="Token" />
    <input type="hidden" asp-for="Email" />

    <div class="mb-3">
        <label>New Password</label>
        <input asp-for="New" type="password" class="form-control" />
        <span asp-validation-for="New" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label>Confirm Password</label>
        <input asp-for="Confirm" type="password" class="form-control" />
        <span asp-validation-for="Confirm" class="text-danger"></span>
    </div>

    <button class="btn btn-success">Update Password</button>
</form>