@model UpdateProfileVM
@{
    ViewBag.Title = "Account | Update Profile";
}

<form class="form" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <label asp-for="Email"></label>
    <b>@Model.Email</b>
    <br>

    <label asp-for="Name"></label>
    <input asp-for="Name" autofocus>
    <span asp-validation-for="Name"></span>

    <label asp-for="PhoneNum"></label>
    <input asp-for="PhoneNum">
    <span asp-validation-for="PhoneNum"></span>

    @if(User.IsInRole("Staff"))
    {
        <label asp-for="Photo"></label>
        <label class="upload">
            <small>Select Photo...</small>
            <input asp-for="Photo" accept="image/jpeg,image/png" hidden>
            <img src="/images/users/@(Model.PhotoURL ?? "default.png")">
        </label>
        <span asp-validation-for="Photo"></span>

        
    }
    <div style="margin-top: 10px;">
        <a asp-action="UpdatePassword" style="text-decoration: none; font-size: 0.9rem;">Change Password</a>
    </div>

    <section>
        <button>Update</button>
        <button type="reset">Reset</button>
        <a href="javascript:history.back()" style="text-decoration: none; padding: 0.5rem;">Back</a>
    </section>
</form>

@section foot {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        // Update the image source immediately when a new file is selected
        $(".upload input").change(function () {
            const file = this.files[0];
            if (file) {
                const url = URL.createObjectURL(file);
                $(this).next("img").attr("src", url);
            }
        });
    </script>
}